<div class="flex items-center px-2 py-5 pt-14">
  <form action="" class="flex-auto w-full">
    <mat-form-field class="pt-5 pr-0 pb-24 pl-2 w-full mb-2">
      <input
        matInput
        placeholder="Name"
        required
        [(ngModel)]="model.name"
        name="name"
        #name="ngModel"
      />
      <mat-error *ngIf="!name.valid || name.pristine">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-radio-group class="pt-5 pr-0 pb-24 pl-2 w-full mb-2">
      <p>Choose an option:</p>
      <mat-radio-button value="pickup" (change)="onPickupOrDelivery(false)">
        Pickup
      </mat-radio-button>
      <mat-radio-button value="delivery" (change)="onPickupOrDelivery(true)">
        Delivery
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="pt-5 pr-0 pb-24 pl-2 w-full mb-2">
      <input
        matInput
        placeholder="Shipping Address"
        [(ngModel)]="model.shippingAddress"
        name="ShippingAddress"
        #shippingAddress="ngModel"
      >
    </mat-form-field>
    <mat-form-field class="pt-5 pr-0 pb-24 pl-2 w-full mb-2">
      <input
        matInput
        placeholder="City"
        [(ngModel)]="model.city"
        name="city"
        #city="ngModel"
      >
    </mat-form-field>
    <mat-form-field class="pt-5 pr-0 pb-24 pl-2 w-full mb-2">
      <mat-label>Select me</mat-label>
      <mat-select name="store" #store="ngModel" [(ngModel)]="model.store">
        <mat-option [value]="tienda" *ngFor="let tienda of stores">
          {{tienda.name}} - {{tienda.openingHours}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
 
<div class="mx-auto block w-2/5 mt-16">
  <button [disabled]="" mat-raised-button color="primary" class="w-full">
    checkout
  </button>
</div>
